<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       xmlns:context="http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       xmlns:lang="http://www.springframework.org/schema/lang/spring-lang-2.5.xsd"
       xmlns:util="http://www.springframework.org/schema/util/spring-util-2.5.xsd"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
          http://www.springframework.org/schema/aop/spring-aop-2.5.xsd http://www.springframework.org/schema/aop/spring-aop-2.5.xsd/spring-spring-aop-2.5.xsd-2.5.xsd
          http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/context/spring-context-2.5.xsd/spring-spring-context-2.5.xsd-2.5.xsd
          http://www.springframework.org/schema/lang/spring-lang-2.5.xsd http://www.springframework.org/schema/lang/spring-lang-2.5.xsd/spring-spring-lang-2.5.xsd-2.5.xsd
          http://www.springframework.org/schema/util/spring-util-2.5.xsd http://www.springframework.org/schema/util/spring-util-2.5.xsd/spring-spring-util-2.5.xsd-2.5.xsd
">

    <bean id="tipCalculator1" class="lab2.FoodServiceTipCalculator" scope="prototype">
        <!--<constructor-arg name="q" value="TipService.ServiceQuality.GOOD"/>-->
        <constructor-arg name="q" value="GOOD"/>
        <constructor-arg name="billAmt" value="125.00"/>
    </bean>

    <bean id="tipCalculator2" class="lab2.BaggageServiceTipCalculator" scope="prototype">
        <!--<constructor-arg name="q" value="TipService.ServiceQuality.FAIR"/>-->   
        <constructor-arg name="q" value="FAIR"/>
        <constructor-arg name="bags" value="5"/>
    </bean>

    <bean id="tipService" class="lab2.TipService" scope="prototype">
        <property name="tipCalculator" ref="tipCalculator1"/>
    </bean>

</beans>
